parameters:
    - name: solutionDirectory
      type: string
    - name: buildConfiguration
      type: string
    - name: orginisation
      type: string
    - name: projectKey
      type: string
    - name: host
      type: string

steps:

- task: Bash@3
  displayName: Install SonarCloud Agent
  inputs:
    targetType: inline
    script: |
        dotnet tool install --global dotnet-sonarscanner

- task: Bash@3
  displayName: Run SonarCloud Scan
  inputs:
    targetType: 'inline'
    script: |
        dotnet sonarscanner begin /k:"${SONAR_PROJECT_KEY}" /o:"${SONAR_ORG} /d:sonar.login="${SONAR_TOKEN}" /d:sonar.host.url="${SONAR_HOST}"
        dotnet build --configuration ${BUILD_CONFIGURATION}
        dotnet sonarscanner end /d:sonar.login="${SONAR_TOKEN}"
    workingDirectory: $(System.DefaultWorkingDirectory)/${{ parameters.solutionDirectory }}
  env:
    BUILD_CONFIGURATION: ${{ parameters.buildConfiguration }}
    SONAR_ORG: ${{ parameters.orginisation }}
    SONAR_PROJECT_KEY: ${{ parameters.projectKey }}
    SONAR_HOST: ${{ parameters.host }}
    SONAR_TOKEN: ${SONAR_TOKEN}



